.expense-element {
  border: 1px black solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px 0 0;
}
.expense-element.dark {
  color: var(--color-light)
}
.expense-element.late {
  background-color: darkred;
  color: white;
}
.expense-element.to-pay {
  background-color: darkgreen;
  color: white;
}
.expense-element.paid-late {
  background-color: orange;
}

