#main-container {
  place-items: center center;
}

#sing-in-form {
  max-width: 332px;
}

.form-control:focus {
  z-index: 5;
}

.bootstrap-logo {
  width: 72px;
  height: 72px;
}

Button {
  margin: 3px;
}
.btn-primary {
  background-color: gray;
  border-color: gray;
}
.btn-primary.dark {
  background-color: var(--background-dark);
  color: var(--color-dark);
}
.error {
  color: red;
  height: 24px;
}
.show-error {
  opacity: 1;
}

.hide-error {
  opacity: 0;
}
.exp-logo {
  width: 50%;
}
