.my-expenses-card-container {
  margin: 30px;
}
.my-expenses-card-container-admin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 0;
}
.expense-container-admin {
  width: 80%;
}
.no-expenses-text {
  display: flex;
  justify-content: center;
}
.expenses-by-land {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}
.expense-by-land--landid {
  margin-left: 20px;
  margin-bottom: 0;
}
.expenses-by-land--elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
