.navbar-route li {
  visibility: hidden;
}
.navbar-route {
  background-color: #d3d3d3;
}
.logout-btn {
  border-radius: 5px;
  background-color: rgb(250, 9, 9);
  color: white;
  border-style: none;
  border-width: 3px;
}
.logout-btn:hover {
  background-color: lightcoral;
  color: white;
}
.div-name-logout {
  display: flex;
  justify-content: right;
  padding: 5px 5px 0 0;
}
.user-name {
  font-weight: 600;
}

.navbar-route.dark {
  background-color: var(--background-dark);
  color: var(--color-dark)
}
