.div-container-admin {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.selector {
  margin: 0 auto;
}
.select {
  border-radius: 5px;
  margin: 0 5px
}
.addPayment-btn {
  border-radius: 5px;
  background-color: gray;
  color: white;
  border-style: none;
  border-width: 1px;
}
.addPayment-btn:hover {
  background-color: lightblue;
  color: rgb(3, 3, 3);
}
.addPayment-btn.dark:hover {
  background-color: lightblue;
  color: var(--color-light)
}
.expense-container {
  display: flex;
}
.addPayment-btn.dark{
  background-color: var(--background-dark2);
}
