.addPay-btn {
  border-radius: 5px;
  background-color: gray;
  color: white;
  border-style: none;
  border-width: 1px;
}
.addPay-btn:hover {
  background-color: lightblue;
  color: rgb(3, 3, 3);
}

.table-container {
  margin-left: 2%;
}
.table {
  display: inline-table;
}
.late-row {
  background-color: lightcoral;
}
