.addPay-btn {
  border-radius: 5px;
  background-color: gray;
  color: white;
  border-style: none;
  border-width: 1px;
}
.addPay-btn.dark {
  border-radius: 5px;
  background-color: white;
  color: black;
  border-style: none;
  border-width: 1px;
}
.addPay-btn.dark:hover {
  background-color: lightblue;
  color: rgb(3, 3, 3);
}
.addPay-btn:hover {
  background-color: lightblue;
  color: rgb(3, 3, 3);
}

.table-container {
  width: 70vw;
}
td {
  white-space: nowrap;
}
.table {
  display: inline-table;
}
.late-row {
  background-color: lightcoral;
}
