.users-view-container {
  background-color: lightgray;
  display: flex;
  text-align: left;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  padding-right: 40px;
  margin: 5px 5px;
}
.land-list-container {
  font-weight: 500;
  color: darkred;
}
